:root {
  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  user-select: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  background-color: #fff;
}

#root {
  width: 90%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 30px 0;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-primary-enter {
  transform: translateX(-110%);
}
.page-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.page-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.page-secondary-enter {
  transform: translateX(110%);
}

.page-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.page-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
